<table class="info_table">
  <tr>
    <th>Address:</th>
    <td> <%= @bar.address %></td>
  </tr>
  <tr>
    <th>City: </th>
    <td><%= @bar.city %></td>
  </tr>
  <tr>
    <th>Zip Code:</th>
    <td><%= @bar.zip_code %></td>
  </tr>
  
</table>
